<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- sidebar Left -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
              	<ul class="nav">
                  <li><h1><%= @user.name %></h1></li> 
              	</ul>
		              <ul class="nav">
		                <%= render 'shared/prof_pic' %>
            		  </ul>
                  <div align="right"> <%= link_to "SETTINGS",edit_user_path(current_user) %> </div>
                  <ul class="nav hidden-xs" id="lg-menu">
                    <li class="active">
                      <!--Aqui empieza -->
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTags">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTags" aria-expanded="true" aria-controls="collapseTags">
                                Tags
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTags" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTags">
                            <div class="panel-body">
                              <%= form_tag @user do %>
                              <% @user.tasks.group(:tag_id).each do |f| %>
                              <ul>
                                <%= render f.tag %>
                              </ul>
                                <%end%>
                                <%= submit_tag 'Submit'%>

                              <%end%>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Aqui acaba-->
                      
                      <!-- 
                      <h4>Tags</h4>
                      </li>
                      <div class="col-md-12">
                        <%# @user.tasks.group(:tag_id).each do |f| %>
                          <%#= render f.tag %>
                        <%#end%>
                      </div>
                      --> 
                      <div class="col-md-12">
                        <%= render 'shared/tag_form'%>
                      </div> 
                    <li>
                    <!--Aqui empieza -->
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingPriorities">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePriorities" aria-expanded="true" aria-controls="collapsePriorities">
                                Priorities
                              </a>
                            </h4>
                          </div>
                          <div id="collapsePriorities" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                              <%= form_tag @user do%>
                              <%@user.tasks.group(:priority_id).each do |f|%>
                                <ul>
                                <%= render f.priority %>
                                </ul>
                                <%end%>
                                <%= submit_tag 'Submit'%>
                              <%end%>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Aqui acaba-->
                      
                      <!--

                      <h4>Priorities</h4>
                      <div clas="col-md-12">
                        <%#@user.tasks.group(:priority_id).each do |f|%>
                          <%#= render f.priority %>
                        <%#end%>
                      </div>
                      --> 
                    </li>
                    <li>
                     <div class="col-md-12">
                        <%= render 'shared/priority_form' %>
                      </div>
                    </li>
                </ul>
              </ul>
              	<!-- tiny only nav-->
                <!--
              <ul class="nav visible-xs" id="xs-menu">
                  	<li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                    <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                  	<li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                </ul>
              -->
            </div>
            <!-- /sidebar -->
          
            <!-- main right col -->

            <div class="column col-sm-10 col-xs-11" id="main">
                
                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">  
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				      <span class="icon-bar"></span>
          				      <span class="icon-bar"></span>
                      </button>
                      <a href="/" class="navbar-brand logo">C</a>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">
                    <%= form_tag(@user, method: "get", :class => 'navbar-form navbar-left') do %>
                      <div class="input-group input-group-sm" style="max-width:360px;">
                        <%= text_field_tag(:q,"" , class:'form-control', placeholder: 'Search a task...') %>
                        <div class="input-group-btn">
                          <%= button_tag(type:'submit', class:'btn btn-default') do %>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
                          <%end%>
                        </div>
                      </div>
                    <% end %>

                    <ul class="nav navbar-nav navbar-right">
                       <li>
                          <span class="btn btn-default navbar-btn">
                            <align="left"><%= link_to "Log out", logout_path, method: "delete" %>
                          </span>
                       </li> 
                    </ul>
                  	</nav>                    
                </div>
                <!-- /top nav -->
              
                <div class="padding">
                <br>
                        <div class="col-md-12">
                          <h3><%= link_to "+", new_task_path, remote: true,:class => 'btn btn-sm btn-info' %> <span id="tasks_amount">Tasks (<%= @tasksA.count %>) </span></h3>
                          <% if @user.tasks.any? %>
                            <ol class="tasks"id="tasks">
                              <%= render @tasksA %>
                            </ol>
                            <br>
                            <%if @tasksP != nil %>
                              <ol class="tasks">
                                <%= render @tasksP %>
                              </ol>
                              <br>
                            <%end%>
                            <%= will_paginate @tasksA %>
                          <% end %>
                        </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              <%=render 'tasks/edit_task_modal'%>
      </div>
      <!-- MAIN -->

  </div>
</div>
</div>