<%if task.due_date.to_formatted_s(:db) < Time.now.to_formatted_s(:db) %>
  <% isExpired=true%>
  <%else %>
    <%isExpired=false%>
    <%end%>
<div id="task_<%= task.id %>" class="panel panel-default">
  <div class="panel-heading" style="<%= isExpired ? 'background-color:#C8C8C8;' : ''%>">
    <% if !isExpired%>
    <table>
      <tr>
        <td>
          <%= link_to 'Edit', edit_task_path(task.id), remote:true, :class => 'btn btn-sm btn-info' %>
        </td> <!-- edit_task_path(task.id) , remote: true-->
        <td>
          <h4><strong><%= task.title %></strong></h4> <strong><%=isExpired ? 'Expired: ' : 'Due in:' %> </strong> 
            <%= time_ago_in_words(task.due_date.to_formatted_s(:db)) %>
        </td>
        <td>
            <%= link_to 'Delete', task_path(task), :method => :delete, data: {confirm: "Delete Task "}, :class => 'btn btn-sm btn-danger'%> 
        </td>
        <td>
          <%= link_to 'Suggestions','#example' , :class => 'btn btn-sm btn-default'%>
        </td>
      </tr>
    </table>
    <%else %>
      <h4><strong><%= task.title %></strong></h4> <strong><%=isExpired ? 'Expired: ' : 'Due in:' %> </strong> 
          <%= time_ago_in_words(task.due_date.to_formatted_s(:db)) %>
    <%end%>
  </div>
  <div class="panel-body" style="<%= isExpired ? 'background-color:#C8C8C8;' : ''%>">
    <%= task.content %>
  </div>
  <div class="panel-footer" style="<%= isExpired ? 'background-color:#C8C8C8;' : ''%>">
    <strong>Priority:</strong> <%= task.priority.title %>, <strong>Tags:</strong> <%= task.tag.title %>. 
  </div>
</div>