<li id="task-<%= task.id %>">
  <span class="user"><%= task.title %></span>
  <span class="content"><%= task.content %></span>
  <span class="timestamp">
  Due: <%= (task.due_date).to_date %>.
  </span>
  <!-- Should be task_tag-->
  <span class="priority">
  <%= task.priority.title %></span>
  <span class="tag">
  <%= task.tag.title %></span>
</li>