<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
   <%= form_for(@task, remote: true) do |f| %>
  	<%= f.text_area :title %>
    <%= f.text_area :content %>
    <br>
    <%= f.datetime_select :due_date, :ampm => true, :order => [:day, :month, :year], :discard_minute => true %>
    <%#= f.text_field :due_date, class: "show_calendar" %>
    <br>
    <strong>Priority: </strong>
    <%= f.collection_select(:priority_id, Priority.where(:user_id => current_user.id), :id, :title) %>
    <strong>Tag:</strong> 
    <%= f.collection_select(:tag_id, Tag.where(:user_id => current_user.id), :id, :title) %><br><br>
    <%= f.submit @task.new_record? ? "New Task": "Update Task", class: "btn btn-primary" %>
  <% end %> 
  </div>
  <!--
  <div class="panel-footer">
  </div>
  -->
</div>